/* :: Nightboard ::
 * 
 * FILENAME:    styles/default.css
 * AUTHOR(S):   Joey Miller ("Zarpho")
 * DESCRIPTION: Stylesheet for the "Default" template.
 */

body, div, p, table, tbody, th, tr, td, ol, ul, li, img
{
	margin: 0px;
	padding: 0px;
	border-spacing: 0px;
}

#header
{
	padding: 16px;
}

#header-table
{
	width: 100%;
}

#main
{
	padding: 16px;
}

#main-table
{
	width: 100%;
	border-collapse: collapse;
	font-family: Arial, sans-serif;
	font-size: 10pt;
}

	#main-table td
	{
		border: solid 1px #000000;
		padding: 1px;
	}

#footer
{
	font-family: Arial, sans-serif;
	font-size: 8pt;
	padding: 16px;
	text-align: center;
}

.title
{
	font-size: 16pt;
	text-align: center;
}

.subtitle
{
	font-size: 12pt;
	text-align: center;
}

.links
{
	text-align: center;
}

.threadcount, .postcount
{
	text-align: center;
	width: 5%;
}

.latestpost
{
	text-align: center;
	width: 15%;
}